<h1 class="mt-2">Welcome to <img alt="Logo" src="assets/logo.png" width="40px"/> ShareFridge </h1>
<p>This is the perfect site/app to note about you bought for your home and fridge. You can note down what you bought and
  share it with others living in your household.</p>


<h3>What to do:</h3>
<ul>
  <li><a routerLink="/pool/create">Create a Fridge</a></li>
  <li><a routerLink="/pool/view">Open the newly created fridge</a> and click on Edit/Invite and generate an invite Link
  </li>
  <li>Send the invite link to other members of your household. They must open that link to join.</li>
  <li>Create entries called expenses about what you bought.</li>
  <li>The app takes track of what was bought and who spent how much money. You can use this to achieve a fair division
    of expenses among all members.
  </li>
</ul>

<h1>See an introduction</h1>

<h3>Who operates this app/site?</h3>
<p>I am a Software developer that shares a flat. We used an app to note down who bought what/what it cost. But the app
  had a lot of advertisement and aggressive pop ups. So I decided to do my own app that covers our use case. Free to use
  and Open Source.</p>
